---
import Header from "@app/ui/src/Header";
import { LoginForm } from "@app/ui/src/LoginForm";
import TwindSetup from "../components/TwindSetup.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Login</title>
    <TwindSetup />
  </head>
  <body class="bg-gray-100">
    <Header active="Login" />
    <div class="flex items-center justify-center min-h-screen">
      <LoginForm client:load />
    </div>
  </body>
</html>
