name: actionlint

on:
  pull_request:
    paths:
      - ".github/actions/**"
      - ".github/workflows/**"

jobs:
  actionlint:
    permissions:
      contents: read
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: reviewdog/action-actionlint@v1
        with:
          reporter: github-pr-review
          fail_level: error
