name: Sync labels

on:
  push:
    branches:
      - main
    paths:
      - ".github/labels.yaml"
  workflow_dispatch:

permissions:
  issues: write
  contents: read

jobs:
  label_sync:
    runs-on: ubuntu-22.04
    timeout-minutes: 2
    steps:
      - uses: actions/checkout@v5
      - uses: EndBug/label-sync@v2
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          config-file: .github/labels.yaml
          delete-other-labels: true
